{{block.filter_form|raw}}

<div class='forums'>
    {% for post in block.posts %}
        <a class='forum-post' href="?post={{post.id}}">
            <div class='icon'>
                <div class='{{post.type}}-img'></div>
                <div class='type'>{{post.type}}</div>
            </div>
            <div class='content'>
                <div class='title'>
                    {{post.title}}
                </div>
                <div class='body'>
                {{ post.content|length > 50 ? post.content|slice(0, 50) ~ '...' : post.content  }}
                </div>
                <div class='about'>
                Created on <span>{{post.created}}</span> by <span>{{post.username}}</span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

<div class='pager'>
    {% for i in 1..block.pager.page_count %}
        <a class="pager-item
        {% if loop.index0 == block.pager.curr_page %}is-active{% endif %} 
        " href="?page={{loop.index0}}">
            {{loop.index}}
        </a>
    {% endfor %}
</div>
