<div id="docs">
    <h1>Wellcome to .riha DOCS</h1>

    <h2>Data types</h2>    
    {{content.files.data_type|raw}}

    <h2>Debuging</h2>    
    {{content.files.debug|raw}}
    
    <h2>Conditions</h2>    
    {{content.files.conditions|raw}}

    <h2>Scopes</h2>    
    <h3>Scope: check</h3>    
    {{content.files.scope_check|raw}}
    <h3>Scope: loop</h3>    
    {{content.files.scope_loop|raw}}

    <pre>
        Learn use repeat.

        #Data types
        To define a new variable use following pattern: set [name] as [data_type]: value
        Allowed data types: array, text, GLOBAL, number, boolean

        Numbers: Can contain float or integer values:
            set float as number: 10.4
            set integer as number: 10
        
        Text: set string as text: "my text"
        
        Arrays can contain any type of data type
        set my_array as array: ["test", 10, true]

        GLOBAL: currently supports:
            "PLAYER" - contains action for:
                * object placing: place: [building_name, location]
            "WORLD" - contains action for:
                * retrieving free tile: freeTile
        
        Debug: to output value use command: print: [data_type]

        Scopes: contains two types of scope:
            condition: requires boolean
            loop: requires number

            to start scope type: scope [type]: [number]
            to end scope type: end scope


    </pre>
</div>
