<div class='form-field code-element {{field.type|e}}'>

    {% if field.title is not null %}
        <div class='input-title'><span class='code-title'> {{field.title}} <span></div>
    {% endif %}

    <div 
    class='code-value input{% if field.description is not null %} hover-info{% endif %}'
    >
        {% if field.type|e == 'textarea' %}

        <textarea 
            name='{{ field.name|e }}' 
            {% if field.placeholder is not null %}
                placeholder='{{ field.placeholder|e }}' 
            {% endif %} 
            {% if (field.required is not null) and (field.required == true) %}
                required
            {% endif %} 
        ></textarea>

        {% else %}

        <input 
            name='{{ field.name|e }}' 
            type='{{ field.type|e }}' 
            {% if field.value is not null %}
                value='{{ field.value|e }}' 
            {% endif %}    
            {% if field.placeholder is not null %}
                placeholder='{{ field.placeholder|e }}' 
            {% endif %} 
            {% if (field.required is not null) and (field.required == true) %}
                required
            {% endif %} 
        />

        {% endif %}

        {% if field.type|e == 'checkbox' %}
            <div class='checkbox-style'></div>
        {% endif %}


        {% if field.description is not null %}
            <div class='description hover-info-content'> 
                {{field.description}} 
                {% if field.validator is not null %}
                    {% for key, value in field.validator %}
                        {% if key in ["one_of", "charset"]  %}
                        {% else  %}
                            {% if key == "required" %}
                                {% if value == 1 %}
                                    {% set value = "TRUE" %}
                                {% else %}
                                    {% set value = "false" %}
                                {% endif %}                                
                            {% endif %}
                        <div class='validates'><span>{{key}}</span>: {{value}}</div>                
                        {% endif %}                    
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

    </div>

</div>
